.forward {
  background-image: url("/Hero_Four.jpeg");
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .forward {
    height: 400px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .forward {
    height: 400px;
  }
}

