/* @media (min-width: 767px) { */
.Hero {
  background-image: url("/Hero_One.jpeg");
  height: 660px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .Hero {
    height: 500px;
  }
  .overlay {
    height: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .Hero {
    height: 600px;
  }
  .overlay {
    height: 602px;
  }
}

@media (min-width: 1200px) {
  .overlay {
    height: 650px;
  }
}
